body {
  font-family: 'Vollkorn', serif;
  font-size:1.2em;
  line-height: 1.5;
  font-weight: 400;
  color: #000;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  font-weight:100;
  font-size: 3rem;
  text-align:center;
  margin-bottom:0px;
}

.container {
  max-width: 660px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-inline * {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Unica One', sans-serif;
  font-weight:700;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  color: #c31;
  margin: 20px 20px 30px;
}

h3 {
  margin-top: 0px;
  text-align:center;
  font-weight:400;
  font-size:1.2rem;
}

p {
  text-align: justify;
}

.button {
  background-color: #008CBA;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Unica One', sans-serif;
  font-size: 1.5rem;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  background-color: white; /* Green */
  color: #008CBA;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%;
  }
}
